.b-news{
    border: 2px solid;
    padding: 20px;
    margin: 10px 0;
}
.b-news__title,.b-news__btn{
    display:inline-block;
}
.b-news__btn{
    float: right;
    position: relative;
    background-color: #2184ff;
    color: #ffffff;
    padding: 18px 10px;
    border:none;
    margin: 0 10px;
}
.b-news__body{
    padding:20px 0;
    width: 65%;
}
.b-news__comments{
    padding: 20px;
    margin: 20px 0;
    border: 2px dotted #2184FF;
}
.b-comment{
    margin-bottom: 20px;
}
.comments__user-name{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
}
input.error:not([type='submit']){
   background-color: rgba(255, 0, 0, 0.19);
}
input.error[type='submit']{
    cursor: not-allowed;
}
